In [ ]:
!pip3 install snscrape

In [2]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools

In [3]:
# Extract renewable enegy related tweets for Canada

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('renewable energy, canada since:2017-03-01 until:2022-03-01').get_items()):
    if i>10000:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [ ]:
tweets_df2.shape[0]  # Gives number of rows

tweets_df2

In [25]:
# Extract renewable enegy related tweets for Nigeria

# Creating list to append tweet data to
tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('renewable energy, nigeria since:2017-03-01 until:2022-03-01').get_items()):
    if i>10000:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.username])
    
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [26]:
tweets_df

,Datetime,Tweet Id,Text,Username
0,2022-03-08 17:00:24+00:00,1501241435974160394,in the energy sector considering Nigeria's NDC...,Ogagbayidayo
1,2022-01-20 17:11:37+00:00,1484212026121637892,The 'Etihad 7' programme aims to provide clean...,pamafrica_
2,2021-12-20 13:42:04+00:00,1472925270608953344,#CleanEnergyNewsðŸ“°: #China and #Nigeria partner...,Camco_tweets
3,2021-12-17 10:52:25+00:00,1471795413078487044,"Working on #renewableenergy, I got to know the...",ahmedabdelatif_
4,2021-12-06 09:54:51+00:00,1467794659162341378,#CleanEnergyNewsðŸ“°: Upgrades to @TranscorpPLC a...,repp_energy
...,...,...,...,...
418,2015-12-12 14:14:59+00:00,675680248105709568,@AfricaGreenCo @SDGsSaturday @COP21 Peoples of...,Nedifeora
419,2015-12-12 13:35:56+00:00,675670421916766208,@AfricaGreenCo @SDGsSaturday @GreenvestSolar @...,Nedifeora
420,2015-11-24 14:37:56+00:00,669163043507539968,"Clean Energy: #Nigeria, Others Attract $126bn ...",Aluko_Oyebode
421,2014-05-09 12:33:41+00:00,464745018498879488,"SkyPower Global and FAS #Energy to Build 3,000...",Africa_PEnVC
422,2014-02-17 20:31:42+00:00,435511898591592448,#Nigeria is emerging as a key player on the gl...,Lightworker322

In [ ]:
# Minimum and Maximum dates for extracted tweets

print(min(tweets_df2['Datetime']))
print(max(tweets_df2['Datetime']))
print(min(tweets_df['Datetime']))
print(max(tweets_df['Datetime']))

In [27]:
# Remove timezones

tweets_df2['Datetime']=tweets_df2['Datetime'].dt.tz_localize(None)
tweets_df['Datetime']=tweets_df['Datetime'].dt.tz_localize(None)

In [ ]:
# Export as Excel file

tweets_df.to_excel (r'renewable_nigeria.xlsx', index = False, header=True)
tweets_df2.to_excel (r'renewable_canada.xlsx', index = False, header=True)